body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e1cb;
    color:#15171A;
    font-family: serif;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #ec3535; */
    /* padding: 20px 10px; */
    height: 100px;
    /* margin: 0px 64px 0px 0px ; */
  }
  
  .logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none; 
    display: flex;
     margin: 0;
    padding: 0;
    justify-content: space-evenly;
    margin-left: 100px;
     margin-right:auto; 
  }
  
  .nav-links li {
    margin: 0 10px ;
    font-size: 18px;
   
  }
  
  .nav-links a {
    text-decoration: none;
    color:#15171A;
    font-size: 18px;
   
    
  }
  
  .nav-links a:hover {
    background-color: #e7e1cb;
    color: #15171A;
    border-radius: 4px;
  }
  .img-logo{
    height: 50px;
    width:50px;
    border-radius: 50%;
    display: flex;
    margin-right: 690px;
    
    
     
  }
  .search-bar i{
    font-size: 20px;
    
  }
  .search-bar{
    background-color: #e7e1cb ;
    margin-right: 50px;}
    
.about-section h1{
 margin: 0;
 text-align: center;
 /* color: #FFFFFF; */
font-size: 51PX;
  padding: 0%;
height: 61px;
z-index: 2;
 position: relative;
margin-top: 50px;
margin-bottom: 25px;
}

.photo {
    /* width: 100px;    */
    /* height:1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
.about-section img{
    height: 516px;
    display: block;
    max-width: 100%;
} 
.place{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
} 
.contact{
    margin-bottom: 20px;
    display: block;
    font-size: 19px;
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    

}
.copyright{
color: #00000056;
margin-top: 0px;
display: flex;
    justify-content: center;
    align-items: center;
}
