body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e7e1cb;
  color:#15171A;
  font-family: serif;
  
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #ec3535; */
  /* padding: 20px 10px; */
  height: 100px;
  /* margin: 0px 64px 0px 0px ; */
}

.logo {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.nav-links {
  list-style: none; 
  display: flex;
   margin: 0;
  padding: 0;
  justify-content: space-evenly;
  margin-left: 100px;
   margin-right:auto; 
}

.nav-links li {
  margin: 0 10px ;
  font-size: 18px;
 
}

.nav-links a {
  text-decoration: none;
  color:#15171A;
  font-size: 18px;
 
  
}

.nav-links a:hover {
  background-color: #e7e1cb;
  color: #15171A;
  border-radius: 4px;
}
.img-logo{
  height: 50px;
  width:50px;
  border-radius: 50%;
  display: flex;
  margin-right: 700px;
  
  
   
}
.search-bar i{
  font-size: 20px;
  
}
.search-bar{
  background-color: #e7e1cb ;
  margin-right: 50px;
}
.hero-section{
  background-image: url('image2.jpg');
  height: 600px;
  width:100%;
   filter: brightness(50%);   
   /* background-color: rgba(0, 0, 0, 0.9); */
  z-index: 1;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  
  
}
.hero-msg{
  margin: 0;
 text-align: center;
  color: #FFFFFF;
  font-size: 55PX;
  padding: 0%;
  height: 61px;
  z-index: 2;
  position: relative;
  

}
/* .hero-section2 img{
  height:400px; */
  /* display: inline-block; */
 
  
  /* margin-top: 100px;
}
.website{
  font-size: 53px;
  height: 58px;
  

}

  .side-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; 
}
.image3{
  margin-left: 180px;
}
.hero-section2{
  display: flex;
  align-items: center;
  justify-content: space-between;

} */
.hero-msg{
  margin: 0;
 text-align: center;
  color: #FFFFFF;
  font-size: 55PX;
  padding: 0%;
  height: 61px;
  z-index: 2;
  position: relative;
}

.image {
    float:left; 
    margin-right: 80px;
    width: 500px; 
    height: 500px;
}
  
  .text {
    overflow: hidden; 
    margin-left: 900px;
    margin-top: 30px;
    
  }
  .website{
    font-size: 53px;
    height: 58px;
    margin-left: 900px;
    margin-top: 100px;
    
  
  }
  .contact{
    margin-bottom: 20px;
    display: block;
    font-size: 19px;
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    
    

}
.copyright{
color: #00000056;
margin-top: 0px;
display: flex;
    justify-content: center;
    align-items: center;
}
